<%
function translateSize(size){
    if (size == "big_size")
            return "Велика";
    else return "Мала"
}
 %>




<div class="orderedPizza">
    <h4><%= pizza.title %> (<%= translateSize(size) %>)</h4>
    <div class="size"><img src="assets/images/size-icon.svg"/><%= (pizza[size].size) %> </div>
    <div class="weight"><img src="assets/images/weight.svg"/><%= pizza[size].weight %> </div>
    <div>
        <h4 class="price"><%= pizza[size].price %> грн</h4>
        <div class="calculate">
            <button class="btn btn-xs btn-success btn-circle plusBtn roundBtn">
                <i class="glyphicon glyphicon-plus icon-white"></i>
            </button>
            <span class="quantity"><%= quantity %></span>

            <button class="btn btn-xs btn-danger btn-circle minusBtn roundBtn">
                <i class="glyphicon glyphicon-minus icon-white"></i>
            </button>
            <button class="count-clear btn btn-xs btn-default btn-circle roundBtn">
                <i class="glyphicon glyphicon-remove icon-white"></i>
            </button>
        </div>
    </div>
    <img class="piza-part" src="<%= pizza.icon %>"/>
</div>